body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.33;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-name {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding: 24px 0;
  margin-right: 0;
}

.address-list {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  gap: 40px;
}

.title-h {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
}

.order-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.link-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 40px;
  padding-left: 40px;
  padding: 24px 0;
}

.link-studio:hover,
.link-studio:focus {
  color: #404bbf;
}

.features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-features {
  display: flex;
  gap: 24px;
}

.list-features-item {
  width: calc((100% - 72px) / 4);
}

.advantages {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-people {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.description-people {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  padding: 120px 0;
}

.our-team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
}

.people {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.container-people {
  padding: 32px 0;
}

.list-product {
  padding-top: 120px;
  padding-bottom: 120px;
}

.product {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.product-list-item {
  width: calc((100% - 48px) / 3);
}

.product-list-item {
  border-top: none;
}

.container-product {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.address {
  font-style: normal;
}

.email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.email:hover,
.email:focus {
  color: #404bbf;
}

.title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.team {
  background-color: #f4f4fd;
}

.people {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
}

.finish {
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.logo-name-down {
  color: #f4f4fd;
}

.down {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
